:host {
  display: block;
  margin: 25px 0;
  width: 100%;
  .flex-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .weather-info-image {
    width: 60px;
  }
  .weather-info-header {
    justify-content: space-between;
    ::ng-deep .mat-card-header-text {
      margin: 0;
    }
  }

  .forecast-link {
    color: blue;
    cursor: pointer;

    &:hover {
      color: darkblue;
    }
  }
  .remove-button {
    position: relative;
    top: -30px;
    right: -25px;
  }
}
