<mat-toolbar color="primary">
  <span>
    <button
      mat-mini-fab
      title="Navigate to dashboard"
      aria-label="Navigate to dashboard"
      [routerLink]="'/dashboard'"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 0 24 24"
        width="24px"
        fill="#ffffff"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
      </svg>
    </button>
    Weather
  </span>
</mat-toolbar>

<div class="main-router-outlet">
  <router-outlet></router-outlet>
</div>
